.booking-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dark-white);
  width: 50%;
}

.booking-content {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 120px;
}

.title-section {
  display: flex;
  /* font-size: 20px; */
  text-align: right;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 15px;
}

.text-section {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.market-btn {
  display: inline-block;
  padding: 0.3125rem 0.875rem;
  padding-left: 2.8125rem;
  background-position: center left 0.75rem;
  background-color: #000;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}
.market-btn .market-button-title {
  display: block;
  color: #fff;
  font-size: 1.125rem;
}
.market-btn .market-button-subtitle {
  display: block;
  margin-bottom: 0.1rem;
  color: #fff;
  font-size: 0.65rem;
}
.market-btn:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}
.apple-btn {
  background-image: url("../../assets/apple-logo_white.png");
}

.google-btn {
  background-image: url("../../assets/google-play.png");
  margin-right: 1.3rem;
}

.title-section {
  max-width: 400px;
}

.text-section {
  max-width: 400px;
  line-height: var(--xl-line-height);
}
@media screen and (max-width: 1024px) {
  .booking-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
  }

  .booking-content {
    margin: 20px 20px;
  }

  .title-section,
  .text-section {
    text-align: left;
  }
  .download-content {
    display: none;
  }
}
