.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.card-number,
.card-content {
  text-align: left;
}

.card-number {
  text-align: right;
  color: grey;
  font-size: 40px;
}

.card-number p {
  align-self: flex-start;
}

.card-content p {
  color: grey;
}
