.card {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  align-self: flex-start;
}

.card-number,
.card-content {
  text-align: left;
  min-width: 180px;
  max-width: 280px;
}

.card-number {
  text-align: right;
  color: var(--base-grey);
  font-size: 40px;
  line-height: 0;
  font-weight: 700;
}

.card-number p {
  align-self: flex-start;
  padding-left: 60px;
  font-size: 64px;
}

.card-content {
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h2 {
  font-size: 40px;
  margin-bottom: 5px;
  min-height: 60px;
  white-space: pre-wrap;
}

.card-content p {
  font-size: 30px;
  color: var(--base-grey);
  margin-top: 10px;
}
